* {
    box-sizing: border-box;
}

:root {
    --body-font: 'Montserrat', 'sans-serif';
    --body-bg: #eee;
}

.dark-mode:root {
    --body-font: 'Montserrat', 'sans-serif';
    --body-bg: #031318;
}

body {
    font-family: var(--body-font);
    margin: 0;
    background-color: var(--body-bg);
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

h1 {
    font-size: 30px;
    color: deepskyblue;
}

.signature {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #000;
    z-index: 2;
}