* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url(fonts/Pixel.ttf);
}

:root {
    --border-color: #000;
    --bg-flappy: deepskyblue;
}

.dark-mode:root {
    --border-color: dodgerblue;
    --bg-flappy: linear-gradient(to top, #ffd900, #ffa500, #e69e19, #ad7202);
}

[wm-flappy] {
    position: relative;
    border: 5px solid var(--border-color);
    height: 650px;
    width: 1200px;
    margin: 15px;
    background: var(--bg-flappy);
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e92e);
    border: 2px solid #000;
}

.barreira .tubo {
    height: 200px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e92e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 50px;
    z-index: 100;
}